#ALIAS {rlc} {#read config.tt}

#ALIAS {auto}  {#VARIABLE character[auto][%1] %2}
#ALIAS {ready} {#VARIABLE character[ready][%1] %2}
#ALIAS {dsm}   {#SHOWME <fac>%0}

#00000000000
#0 bandage 0
#00000000000
#VARIABLE {character[auto][bandage]} {1}
#ACTION {%1 begins resting but}     {autoBandageCheck %1}
#ACTION {%1 sits down and rests}    {autoBandageCheck %1}
#ACTION {%1 begins resting but}     {autoBandageCheck %1}
#ACTION {You sit down and rest}     {autoBandageCheck me; autoRecuperateCheck}
#ACTION {You wince as you}          {autoBandageCheck me}

#ALIAS {autoBandageCheck} {#IF { $character[auto][bandage] == 1 && $character[isFighting] == 0} {bandage %1}}

#00000000000000000000000000000000
#0 Food and drink related stuff 0
#00000000000000000000000000000000
#VARIABLE {character[auto][firebreather]} {1}
#VARIABLE {character[auto][eat]} {1}
#VARIABLE {character[auto][drink]} {1}
#VARIABLE {food}    {bread}
#VARIABLE {drink}   {water}
#ACTION {It tastes like firebreather.}  {#IF {$character[auto][firebreather] == 1}  {sip firebreather}}
#ACTION {You are hungry}                {#IF {$character[auto][eat] == 1}           {eat $food}}
#ACTION {You are thirsty}               {#IF {$character[auto][drink] == 1}         {drink $drink}}
#ALIAS {sb}     {sip firebreather}
#ALIAS {ef}     {eat $food}
#ALIAS {dw}     {drink $drink}
#ALIAS {ead}    {eat $food;drink $drink}
#ALIAS {fa}     {drink %1;drink %1;fill all %1}
#ALIAS {ff}     {drink fountain;drink fountain;fill all fountain}

#000000000000
#0 Footwork 0
#000000000000
#ACTION {probably stand up}                     {#IF {$character[isFighting] == 1}{stand}}
#ACTION {You are sent sprawling}                {#IF {$character[isFighting] == 1}{stand}}
#ACTION {You start using the %1.}               {#VARIABLE character[wep1] %1}
#ACTION {You start using the %1 as a secondary} {#VARIABLE character[wep2] %1}
#ACTION {disarms your weapon}   {get $character[wep1];wield $character[wep1];get character[$wep2]; wield $character[wep2] left}
#ACTION {used in primary hand> %2$}    {#VARIABLE character[wep1] %2}
#ACTION {used in secondary hand> %2$}  {#VARIABLE character[wep2] %2}

#00000000000
#0 Looting 0
#00000000000
#ALIAS {ga}     {get all}
#ALIAS {gc}     {get coins}
#ALIAS {gp}     {get pile}
#ALIAS {gac}    {get all corpse}
#ALIAS {gcc}    {get all.coins corpse}
#ALIAS {gpc}    {get pile corpse}
#ALIAS {lp}     {#LOOP 1 %1 cnt {get all $cnt.corpse}}
#ALIAS {lpc}    {#LOOP 1 %1 cnt {get all.coins $cnt.corpse}}

#00000000000000000000000000000000000000000000
#0 auto assist stuff along with stat ripper 0
#00000000000000000000000000000000000000000000
#ACTION {^%1H %2V %3X %4% %5C [%8:%9] [%10:%11] Mem:%12 T:%6 Exits:%7>} { process.prompt %12 1 %1 %2 %3 %4 %5 %6 %7 %8 %9 %10 %11 }
#ACTION {^%1H %2V %3X %4% %5C [%8:%9] Mem:%12 T:%6 Exits:%7>}           { process.prompt %12 1 %1 %2 %3 %4 %5 %6 %7 %8 %9 }
#ACTION {^%1H %2V %3X %4% %5C Mem:%12 T:%6 Exits:%7>}                   { process.prompt %12 0 %1 %2 %3 %4 %5 %6 %7 }

#ACTION {^%1H %2V %3X %4% %5C [%8:%9] [%10:%11] T:%6 Exits:%7>} { process.prompt 0 1 %1 %2 %3 %4 %5 %6 %7 %8 %9 %10 %11 }
#ACTION {^%1H %2V %3X %4% %5C [%8:%9] T:%6 Exits:%7>}           { process.prompt 0 1 %1 %2 %3 %4 %5 %6 %7 %8 %9 }
#ACTION {^%1H %2V %3X %4% %5C T:%6 Exits:%7>}                   { process.prompt 0 0 %1 %2 %3 %4 %5 %6 %7 }

#ALIAS {process.prompt} {
     #VAR {character[mem]}              { %1} ;
     #VAR {character[isFighting]}       { %2} ;
     #VAR {character[HP]}               { %3} ;
     #VAR {character[moves]}            { %4} ;
     #VAR {character[tillNextLevel]}    { %5} ;
     #VAR {character[percentRank]}      { %6} ;
     #VAR {character[coins]}            { %7} ;
     #VAR {character[tick]}             { %8} ;
     #VAR {character[exits]}            { %9} ;
     #VAR {character[isTanking]}        {%10} ;
     #VAR {character[tankCondition]}    {%11} ;
     #VAR {character[target]}           {%12} ;
     #VAR {character[targetCondition]}  {%13} 
}

#ALIAS {autoAssistFightCheck} {#IF {$character[auto][assist] == 1 && $character[isFighting] == 0}{autoAssistConfirm}}
#ALIAS {autoAssistConfirm}    {autoAssistInit; #VARIABLE {character[isFighting]} {1}}
#ALIAS {autoAssistInit}       {ass}

#ALIAS {protect.add} {#ACTION {%1 {stabs|cleaves|pierces|slashes|misses|hits|bruises|barely|massacres}} {autoAssistFightCheck}; #VAR {character[auto][assist]} {1};#SHOWME <fac>added %1}
#ALIAS {protect.squishy} {#ACTION {{stabs|cleaves|pierces|slashes|misses|hits|bruises|barely|massacres} %1} {autoRescueCheck}; #VAR {character[auto][assist]} {1};#SHOWME <fac>added %1}
#ALIAS {protect.remove} {#UNACTION {%1 {stabs|cleaves|pierces|slashes|misses|hits|bruises|barely|massacres}};#SHOWME <fac>removed %1 }

#ACTION {You are %1 the %2 %3, a level %4 %5.} {
    #VARIABLE {character[name]} {%1};
    #VARIABLE {character[sex]} {%2};
    #VARIABLE {character[race]} {%3};
    #VARIABLE {character[level]} {%4};
    #VARIABLE {character[class]} {%5}
}

#ACTION {You are rank %1.} {
    #VARIABLE {character[rank]} {%1}
}

#ACTION {You are %1 years old.} {
    #VARIABLE {character[age]} {%1}
}

#ACTION {You have %1(%2) hit and %3(%4) movement points.} {
    #VARIABLE {character[hp]} {%1};
    #VARIABLE {character[hp_max]} {%2};
    #VARIABLE {character[moves]} {%3};
    #VARIABLE {character[moves_max]} {%4}
}

#00000000
#0 gore 0
#00000000
#VAR {character[auto][gore]} {1}
#VAR {character[ready][gore]} {1}
#VAR {character[cooldown][gore]} {0}
#VAR {character[cooldown][main]} {0}
#ACTION {Your over-ambitious gore misses}{#VAR {character[ready][gore]} {0}}
#ACTION {A spray of blood is your reward for goring}{#VAR {character[ready][gore]} {0}}
#ACTION {Your gore connects with}{#VAR {character[ready][gore]} {0}}
#ACTION {^Gore! GOre! GORE!}{#VAR {character[ready][gore]} {1}}

#ALIAS {autoGoreCheck} {#IF {$character[ready][gore] == 1 && $character[cooldown][gore] == 0 && $character[isFighting] == 1 && $character[auto][gore] == 1}{goreStuff}}
#ALIAS {goreStuff} {
    gore;
    #IF {$character[cooldown][main] < 6}{#VARIABLE {character[cooldown][main]} {6}};
    #VARIABLE {character[cooldown][gore]} {6}
}

#ACTION {Koko tells your group '%1'} {#delay {.5}{gore %1}}

#000000000
#0 track 0
#000000000
#VARIABLE {character[auto][track]} {0}

#ALIAS {autoTrackOff}	{#VARIABLE {character[auto][track]} {0}}
#ALIAS {autoTrackOn} 	{#VARIABLE {character[auto][track]} {1}}

#ALIAS {trainTrack} {#VARIABLE {count}{0};#VARIABLE {max}{%1};#VARIABLE {ttarget} {%2};#showme Track Train %1.%2;autoTrackOn;trackNext}

#ALIAS {trackNext} {#IF {$count < $max} {#MATH {count} {$count + 1};#SHOWME $count.$ttarget;track $count.$ttarget}}

#ACTION {You can't seem to find any tracks.}	{#IF {$character[auto][track] != 0} {trackNext}}
#ACTION {Your victim's tracks lead %1.}		{#IF {$character[auto][track] == 1 } {autoTrackOff;#SHOWME <fac>landed track}}

#0000000000000
#0 barbarian 0
#0000000000000
#VARIABLE {character[auto][dance]} {1}
#ACTION {The insanity builds but quickly subsides} 	{#IF {$character[auto][dance] == 1 }{wilddance}}
#ACTION {The love builds but quickly subsides}		{#IF {$character[auto][dance] == 1 }{healdance}}
#ACTION {The rage builds but quickly subsides}		{#IF {$character[auto][dance] == 1 }{wardance}}
#ACTION {You charge at}					{ready assail 1}
#ACTION {You barrel into}				{ready assail 1}
#ACTION {With a crazed scream, you jump into the fray} {ready charge 1}
#ALIAS {cc}	{carve corpse;drop meat}
#ALIAS {cp}	{#LOOP 1 %1 cnt {carve $cnt.corpse}}

#00000000
#0 mend 0
#00000000
#VARIABLE {character[auto][mend]}  {1}
#VARIABLE {character[ready][mend]} {0}
#VARIABLE {character[mendTarget]}  {bread}
#ALIAS {autoMendCheck} {#IF {$character[auto][mend] == 1 && $character[ready][mend] == 1 && $character[cooldown][main] == 0} {mendGo}}
#ALIAS {mendGo} {
    mend $character[mendTarget];
    #VARIABLE {character[ready][mend]} {0};
    #VARIABLE {character[cooldown][main]} {4}
}
#ACTION {You are ready to mend} {#VARIABLE {character[ready][mend]} {1}}

#00000000000
#0 sharpen 0
#00000000000
#VARIABLE {character[auto][sharpen]}    {1}
#VARIABLE {character[ready][sharpen]}   {0}
#VARIABLE {character[sharpenTarget]}       {revenger}
#ALIAS {autoSharpenCheck} {#IF {$character[auto][sharpen] == 1 && $character[ready][sharpen] == 1 && $character[isFighting] == 0 && $character[cooldown][main] == 0} {sharpenStuff}}
#ALIAS {sharpenStuff} {
    sharpen $character[sharpenTarget];
    #VARIABLE {character[ready][sharpen]} {0};
    #VARIABLE {character[cooldown][main]} {4}
}
#ACTION {You are ready to sharpen}		{#VARIABLE {character[ready][sharpen]} {1}}
#ACTION {already has a good edge to it.}{#DELAY {sharpen}{#VARIABLE {character[ready][sharpen]} {1}}{180}}

#0000000000
#0 Rescue 0
#0000000000
#VARIABLE {character[auto][rescue]}     {1}
#VARIABLE {character[auto][tank]}       {1}
#VARIABLE {character[ready][rescue]}    {1}
#VARIABLE {character[rescueTarget]}     {name}
#ALIAS {autoRescueCheck} {#IF {$character[auto][rescue] == 1 && $character[ready][rescue] == 1 && $character[cooldown][main] == 0 && $character[needsTo][rescue] == 1} {rescueStuff $character[rescueTarget]}{#NOP}}
#ALIAS {autoTankCheck}  {#IF {$character[isFighting] == 1 && $character[cooldown][main] == 0 && "$character[name]" != "$character[isTanking]" && $character[auto][tank] == 1 && $character[ready][rescue] == 1 } {rescueStuff $character[isTanking]}{#NOP}}
#ALIAS {rescueStuff} {rescu %1;#VARIABLE {character[ready][rescue]} {0};#VARIABLE {character[cooldown][main]} {4}}
#ALIAS {rt} {#VARIABLE {character[rescueTarget]} {%1}; #VARIABlE {character[needsTo][rescue]} {1}}
#ACTION {Your feeble rescue efforts} {#VARIABLE {character[ready][rescue]} {1}; autoRescueCheck}
#ACTION {But nobody is fighting him.} {#VARIABLE {character[ready][rescue]} {1}; #VARIABLE {character[needsTo][rescue]} {0}}
#ACTION {What a self-sacrificing act! You're such a hero!}{#VARIABLE {character[ready][rescue]} {1}}
#ACTION {is dead! R.I.P.}{#VARIABLE {character[ready][rescue]} {1}}


#NOP Recuperate check stuff
#VARIABLE {character[auto][recuperate]} {1}
#VARIABLE {character[ready][recuperate]}{1}
#ALIAS {autoRecuperateCheck} {#IF {$character[auto][recuperate] == 1 && $character[ready][recuperate] == 1}{recuperate}}

#NOP Charge check stuff
#VARIABLE {character[auto][charge]}  {1}
#VARIABLE {character[ready][charge]} {1}
#ALIAS {autoChargeCheck} {#IF {$character[auto][charge] == 1 && $character[ready][charge] == 1 && $character[isFighting] == 1} {charge $charge_t;ready charge 0}}

#NOP Assail check stuff
#VARIABLE {character[auto][assail]}  {1}
#VARIABLE {character[ready][assail]} {1}
#ALIAS {c_assail} {#IF {$character[auto][assail] == 1 && $character[ready][assail] == 1 && $character[isFighting] == 1} {assail;ready assail 0}}

#NOP Battle check stuff
#VARIABLE {character[auto][battle]}  {1}
#VARIABLE {character[ready][battle]} {0}
#ALIAS {autoBattleCheck} {#IF {$character[auto][battle] == 1 && $character[ready][battle] == 1 && $character[isFighting] == 1} {battleStuff}}
#ALIAS {battleStuff} {
    battle;
    #VARIABLE {character[ready][battle]}  {0};
    #VARIABLE {character[cooldown][main]} {6}
}
#ALIAS {one_check}{ c_mend; c_sharpen; c_rescue; c_recuperate; c_charge; c_assail; c_battle}

#TICKER {autoChecker} { autoRescueCheck; autoTankCheck; autoGoreCheck; autoSharpenCheck; autoMendCheck; cooldownGo }{1}

#000000000000
#0 Cooldown 0
#000000000000
#ALIAS {cooldownGo} {#FOREACH {$character[cooldown]} {iteration} {cooldownFunc $iteration}}
#ALIAS {cooldownFunc} {#IF {$character[cooldown][%1] >= 1} {#MATH {character[cooldown][%1]} {$character[cooldown][%1] - 1}} }


