#0000000000
#0 Assail 0
#0000000000
auto assail 1
ready assail 1
cooldown assail 0
cooldown main 0

#ALIAS {autoAssailCheck} {#IF {@checks{assail;1}} { assail; doStuff assail 1 16 4 }}
#ACTION {With a crazed scream, you jump into the fray} { ready assail 1 }

/*actual cooldown time for assail is 12 seconds*/ 

