#00000000000
#0 Bandage 0
#00000000000
auto bandage 1
ready bandage 1
cooldown main 0
cooldown bandage 0

#ACTION {%1 begins resting but}     { autoBandageCheck %1  }
#ACTION {%1 sits down and rests}    { autoBandageCheck %1  }
#ACTION {%1 begins resting but}     { autoBandageCheck %1  }
#ACTION {You sit down and rest}     { autoBandageCheck me; autoRecuperateCheck }
#ACTION {You wince as you}          { autoBandageCheck me  }

#ALIAS {autoBandageCheck} { #IF {@checks{bandage;0}} {bandage %1;doStuff bandage 1 4 4 } }

