#NOP
@varInit{assail}
@varInit{bandage}
@varInit{battle}
@varInit{breach}
@varInit{charge}
@varInit{wardance}
@varInit{wilddance}
@varInit{healdance}
@varInit{gore}
@varInit{mend}
@varInit{recuperate}
@varInit{sharpen}

targetType mend bread
targetType bandage me
targetType sharpen sword

#ACTION {^With a crazed scream, you jump into the fray} { ready assail 1 } 
#ACTION {^You can battle cry again.}                    { ready battle 1 }
#ACTION {^You charge at}					                      { ready charge 1 }
#ACTION {^You barrel into}				                      { ready charge 1 }
#ACTION {^The insanity builds but quickly subsides} 	  { #IF { @ARCheck{wilddance} } { @doStuff{wilddance;1;4;4}; wilddance } }
#ACTION {^The love builds but quickly subsides}		      { #IF { @ARCheck{healdance} } { @doStuff{healdance;1;4;4}; healdance } }
#ACTION {^The rage builds but quickly subsides}		      { #IF { @ARCheck{wardance} }  { @doStuff{wardance;1;4;4}; wardance } }
#ACTION {^A spray of blood is your reward for goring}   { ready gore 0 }
#ACTION {^Your over-ambitious gore misses}              { ready gore 0 }
#ACTION {^Your gore connects with}                      { ready gore 0 }
#ACTION {^Gore! GOre! GORE!}                            { ready gore 1 }
#ACTION {^You are ready to mend}				                { ready mend 1 }
#ACTION {^You sit down and rest}                        { targetType bandage me; autoBandage; autoRecuperate}
#ACTION {^You are ready to sharpen}                     { ready sharpen 1 }
#ACTION {already has a good edge to it.}                { @doStuff{sharpen;1;180;0} }


#ALIAS {sb}     {sip $RipRoaring}
#VARIABLE {RipRoaring} {firebreather}
#VARIABLE {character[auto][RipRoaring]} {1}
#ACTION {It tastes like {firebreather|whiskey}.}  { #IF { $character[auto][RipRoaring] }  {sb}}
#TICKER {RipRoaring} {sb} {65}


#ALIAS {cc}	{carve corpse}
#ALIAS {cp}	{#LOOP 1 %1 cnt {carve $cnt.corpse}}

#TICKER {autoChecker} { @AIAC{} } {1}

#FUNCTION {AIAC} {
  @autoRescueCheck{};
  @autoTankCheck{};
  #IF { $character[cooldown][main] == 0 } {
    #IF { $character[position][fighting] == 1 } { 
      #IF { @ARCheck{gore} }    {gore; @doStuff{gore;0;6;4};#BREAK };
      #IF { @ARCheck{breach} }  {breach; @doStuff{breach;0;60;4};#BREAK };
      #IF { @ARCheck{battle} }  {battle; @doStuff{battle;0;60;4};#BREAK };
      #IF { @ARCheck{assail} }  {assail; @doStuff{assail;1;16;4};#BREAK };
      #IF { @ARCheck{charge} }  {charge; @doStuff{charge;0;16;4};#BREAK }
    };
    #IF { $character[position][fighting] == 0} {
      #IF { @ARCheck{mend} }      {mend $character[target][mend]; @doStuff{mend;0;4;4};#BREAK };
      #IF { @ARCheck{sharpen} }   {sharpen $character[target][sharpen]; @doStuff{sharpen;0;4;4};#BREAK };
      #IF { @ARCheck{recuperate} && $character[position][resting] } {recuperate; @doStuff{recuperate;1;110;4};#BREAK }
    }
  };
  @cooldownGo{};
  #RETURN {#NOP}
}

#READ {rescue.tt}
#READ {track.tt}
