#0000000000
#0 Charge 0
#0000000000
auto charge 1
ready charge 1
cooldown charge 0
cooldown main 0

#ALIAS {autoChargeCheck} { #IF {"@checks{charge;1}"} { charge; doStuff charge 0 15 6} }
#ACTION {You charge at}					{ ready assail 1}
#ACTION {You barrel into}				{ ready assail 1}

