#ALIAS {oca} {order corpse assist %1}
#ALIAS {oc}  {order corpse %1}


auto charmyAssist 1
ready charmyAssist 1
cooldown charmyAssist 0
cooldown main 0

targetType pet corpse
targetType charmy axilus

#ALIAS {sendOrder} {order $character[target][pet] assist $character[target][charmy] }
#ACTION {The corpse of a %1 {hits|blow|misses}} {#showme BOOM;doStuff charmyAssist 0 4 0}

#ALIAS {autoAssistFightCheck} {
  #IF {$character[auto][assist] == 1 && $character[isFighting] == 0}{ assist; #VARIABLE {character[isFighting]} {1} };
  #IF {@checks{charmyAssist;0}} {sendOrder;doStuff charmyAssist 0 4 4};
  #IF {@checks{charmyAssist;1}} {sendOrder;doStuff charmyAssist 0 4 4}
}
