Vrock
  1:  bludgeons     (poor)          **  short blades  (poor)          **
  
       arcana        (poor)              concentration (poor)
       brew          (very poor)         deep focus    (below average)
       scribe        (below average) **
       spellcraft    (very poor)
       bandage       (awful)             gift          (awful)

     

  1:  blur                   magic missile          shield
      weaken
  2:  detect invisibility    ray of enfeeblement    shocking grasp
      silence                sleep
  3:  dispel magic           fireball               lightning bolt
      magic bolt             web
  4:  acid blast             cold snap              haste
      hold monster           magic blast
  5:  dark accord            mind mangle            pain
      tenebrous orb

Hezrou

  1:  axes          (poor)          **  bludgeons     (below average)
      miscellaneous (below average)     piercers      (below average) **
      short blades  (poor)

      bandage       (good)              hex           (below average)
      banish        (below average)     brew          (very poor)
      control       (not learned)   **
      bind          (not learned)   **  frenzy        (very poor)     **
      spook         (very poor)
      call spirits  (not learned)   **  stupefy       (awful)
      taunt         (awful)         **

  1:  ancestral shroud       clot                   cure light
  2:  blindness              cure blindness         curse
      endurance              remove curse
  3:  cure serious           delay death            protection from undead
      remove poison          sap strength           vile spirits
  4:  devouring spirits      evil eye               monstrous mantle
      soul leech             sublime resistance

Glabrezu 
  Doghead demon no skills or spells

Nalfeshnee

  1:  bludgeons     (fair)          **  long blades   (average)
      miscellaneous (fair)          **  piercers      (average)
      short blades  (average)

      backstab      (fair)          **  hide          (good)
      sneak         (fair)
      pick          (good)
      steal         (fair)
      case          (average)           dodge         (fair)          **
      plant         (fair)              throat punch  (fair)
      bandage       (fair)              detect        (good)
      disable       (below average)     envenom       (average)       **
      unbalance     (average)
      fade          (poor)
      coup          (bad)               evade         (awful)

Marilith
  1:  axes          (fair)          **  bludgeons     (fair)
      long blades   (good)              miscellaneous (good)          **
      piercers      (good)              pole arms     (good)          **
      short blades  (good)          **  two-handed    (good)

      drain         (good)          **  stance        (very good)
      disarm        (good)              march         (very good)
      thrust        (good)
      bandage       (not learned)   **  gaze          (fair)
      rescue        (fair)
      impair        (average)

  1:  curse                  unholy might
  2:  blindness              cloak of shadows       protection from good
      ray of enfeeblement
  3:  dispel magic           nightvision            poison
      soul leech
