#00000000
#0 gore 0
#00000000
auto gore 1
ready gore 1
cooldown gore 0
cooldown main 0

#ACTION {A spray of blood is your reward for goring}  { ready gore 0 }
#ACTION {Your over-ambitious gore misses}             { ready gore 0 }
#ACTION {Your gore connects with}                     { ready gore 0 }
#ACTION {^Gore! GOre! GORE!}                          { ready gore 1 }

#ALIAS {autoGoreCheck} {#IF { "@checks{gore;1}" } { gore; doStuff gore 0 6 6 }}

