#ACTION {^%11H %12V %13X %14% %15C [**%18:%19**] [**%20:%21**] Mem:%22 T:%16 Exits:%17>}  { @processPrompt{%22;0;%11;%12;%13;%14;%15;%16;%17}; @processWatch{%18;%19}; @processOpponent{%20;%21} }
#ACTION {^%11H %12V %13X %14% %15C [%18:%19] [%20:%21] Mem:%22 T:%16 Exits:%17>}          { @processPrompt{%22;1;%11;%12;%13;%14;%15;%16;%17}; @processTank{%18;%19}; @processOpponent{%20;%21} }
#ACTION {^%11H %12V %13X %14% %15C [**%18:%19**] Mem:%22 T:%16 Exits:%17>}                { @processPrompt{%22;0;%11;%12;%13;%14;%15;%16;%17}; @processWatch{%18;%19} }
#ACTION {^%11H %12V %13X %14% %15C [%18:%19] Mem:%22 T:%16 Exits:%17>}                    { @processPrompt{%22;1;%11;%12;%13;%14;%15;%16;%17} }
#ACTION {^%11H %12V %13X %14% %15C Mem:%22 T:%16 Exits:%17>}                              { @processPrompt{%22;0;%11;%12;%13;%14;%15;%16;%17} }

#ACTION {^%11H %12V %13X %14% %15C [**%18:%19**] [**%20:%21**] T:%16 Exits:%17>}  { @processPrompt{0;0;%11;%12;%13;%14;%15;%16;%17}; @processWatch{%18;%19} ; @processOpponent{%20;%21}  }
#ACTION {^%11H %12V %13X %14% %15C [%18:%19] [%20:%21] T:%16 Exits:%17>}          { @processPrompt{0;1;%11;%12;%13;%14;%15;%16;%17}; @processTank{%18;%19} ; @processOpponent{%20;%21}  }
#ACTION {^%11H %12V %13X %14% %15C [**%18:%19**] T:%16 Exits:%17>}                { @processPrompt{0;0;%11;%12;%13;%14;%15;%16;%17}; @processWatch{%18;%19}  }
#ACTION {^%11H %12V %13X %14% %15C [%18:%19] T:%16 Exits:%17>}                    { @processPrompt{0;1;%11;%12;%13;%14;%15;%16;%17} }
#ACTION {^%11H %12V %13X %14% %15C T:%16 Exits:%17>}                              { @processPrompt{0;0;%11;%12;%13;%14;%15;%16;%17} }

#FUNCTION {processPrompt} {
  #VARIABLE {character[mem]}                {%1};
  #VARIABLE {character[position][fighting]} {%2};
  #VARIABLE {character[HP]}                 {%3};
  #VARIABLE {character[moves]}              {%4};
  #VARIABLE {character[tillNextLevel]}      {%5};
  #VARIABLE {character[percentRank]}        {%6};
  #VARIABLE {character[coins]}              {%7};
  #VARIABLE {character[tick]}               {%8};
  #VARIABLE {character[exits]}              {%9};
  #RETURN {#NOP}
}

#FUNCTION {processTank}{
  #VARIABLE {character[isTanking]}      {%1};
  #VARIABLE {character[tankCondition]}  {%2};
  #RETURN {#NOP}
}

#FUNCTION {processWatch}{
  #VARIABLE {character[isWatching]}     {%1};
  #VARIABLE {character[watchCondition]} {%2};
  #RETURN {#NOP}
}

#FUNCTION {processOpponent}{
  #VARIABLE {character[target]}           {%1};
  #VARIABLE {character[targetCondition]}  {%2};
  #RETURN {#NOP}
}

#ACTION {^You are %1 the %2 %3, a level %4 %5.} {
    #VARIABLE {character[name]} {%1};
    #VARIABLE {character[sex]} {%2};
    #VARIABLE {character[race]} {%3};
    #VARIABLE {character[level]} {%4};
    #VARIABLE {character[class]} {%5}
}

#ACTION {^You are rank %1.} {
    #VARIABLE {character[rank]} {%1}
}

#ACTION {^You are %1 years old.} {
    #VARIABLE {character[age]} {%1}
}

#ACTION {^You have %1(%2) hit and %3(%4) movement points.} {
    #VARIABLE {character[hp]} {%1};
    #VARIABLE {character[hp_max]} {%2};
    #VARIABLE {character[moves]} {%3};
    #VARIABLE {character[moves_max]} {%4}
}

#FUNCTION {percentHP} {#MATH {result} {$character[hp_max] * .%1} }
#FUNCTION {hpCheck}{
    #MATH {threshold} {$character[hp_max] * .%2};
    #IF {"%1" == "<"} {#IF {$character[hp] < $threshold} {#UNVARIABLE {threshold}; #RETURN {1}} {#UNVARIABLE {threshold}; #RETURN {0}}} {#NOP};
    #IF {"%1" == ">"} {#IF {$character[hp] > $threshold} {#UNVARIABLE {threshold}; #RETURN {1}} {#UNVARIABLE {threshold}; #RETURN {0}}} {#NOP};
}

#ALIAS {autoAssistFightCheck} { #IF {$character[auto][assist] == 1 && $character[position][fighting] == 0}{ assist; #VARIABLE {character[position][fighting]} {1} } }

#ALIAS {protect.madd}    {#ACTION {{^%1|^%2|^%3} {bludgeons|smites|claws|stabs|cleaves|pierces|slashes|misses|hits|bruises|barely|massacres|annihilates|obliterates}} { autoAssistFightCheck}; #VARIABLE {character[auto][assist]} {1};#SHOWME <fac>added %1 }
#ALIAS {protect.add}    {#ACTION {^%1 {bludgeons|smites|claws|stabs|cleaves|pierces|slashes|misses|hits|bruises|barely|massacres|annihilates|obliterates}} { autoAssistFightCheck; targetType charmy %1}; #VARIABLE {character[auto][assist]} {1};#SHOWME <fac>added %1 }
#ALIAS {protect.remove} {#UNACTION {^%1 {bludgeons|smites|claws|stabs|cleaves|pierces|slashes|misses|hits|bruises|barely|massacres|annihilates|obliterates}};#SHOWME <fac>removed %1 }

#FUNCTION {checks}{
  #IF { $character[cooldown][main] == 0 }       {#NOP} {#RETURN 0};
  #IF { $character[cooldown][%1] == 0 }         {#NOP} {#RETURN 0};
  #IF { $character[position][fighting] == %2 }  {#NOP} {#RETURN 0};
  #IF { $character[ready][%1] == 1 }            {#NOP} {#RETURN 0};
  #IF { $character[auto][%1] == 1 }             {#NOP} {#RETURN 0};
  #RETURN 1
}

#FUNCTION {SMCheck}{
  #IF { $character[cooldown][%1] == 0 }         {#NOP} {#RETURN 0};
  #IF { $character[position][fighting] == %2 }  {#NOP} {#RETURN 0};
  #IF { $character[ready][%1] == 1 }            {#NOP} {#RETURN 0};
  #IF { $character[auto][%1] == 1 }             {#NOP} {#RETURN 0};
  #RETURN 1
}

#FUNCTION {doStuff}{
  #VARIABLE {character[ready][%1]}        {%2};
  #VARIABLE {character[cooldown][%1]}     {%3};
  #IF { $character[cooldown][main] < %4 } { #VARIABLE {character[cooldown][main]} {%4} } {#NOP};
  #RETURN {#NOP}
}

#FUNCTION {autoCheck}{
  #IF {@checks{%1;%2}} {%1 $character[target][%1]; @doStuff{%1;%3;%4;%5}} {#NOP};
  #RETURN {#NOP}
}

#FUNCTION {autoSMCheck}{
  #IF {@SMChecks{%1;%2}} {%1 $character[target][%1]; @doStuff{%1;%3;%4;%5}} {#NOP};
  #RETURN {#NOP}
}

#FUNCTION {cooldownGo}{
  #FOREACH {$character[cooldown]}{element}{ #IF { $character[cooldown][$element] >= 1 } {#MATH {character[cooldown][$element]} {$character[cooldown][$element] - 1}} {#NOP} };
  #DELAY {.5} {#MATH {character[tick]} {$character[tick] - 1}};
  #IF {$character[tick] == 0} { #VARIABLE {character[tick]} {60}};
  #RETURN {#NOP}
}

#FUNCTION {varInit}{
  #VARIABLE {character[auto][%1]} {1};
  #VARIABLE {character[ready][%1]} {1};
  #VARIABLE {character[cooldown][%1]} {9};
  #VARIABLE {character[cooldown][main]} {9};
  #RETURN {#NOP}
}

#ALIAS {auto}      { #VARIABLE {character[auto][%1]} {%2} }
#ALIAS {ready}     { #VARIABLE {character[ready][%1]} {%2} }
#ALIAS {cooldown}  { #VARIABLE {character[cooldown][%1]} {%2} }
#ALIAS {targetType} { #VARIABLE {character[target][%1]} {%2} }
#ALIAS {dsm}   {#SHOWME <fac>%0}

#00000000000000000000000000000000
#0 Food and drink related stuff 0
#00000000000000000000000000000000
#VARIABLE {character[auto][eat]} {1}
#VARIABLE {character[auto][drink]} {1}
#VARIABLE {food}    {bread}
#VARIABLE {drink}   {water}
#ACTION {^You are hungry}                {#IF {$character[auto][eat] == 1}           {eat $food}}
#ACTION {^You are thirsty}               {#IF {$character[auto][drink] == 1}         {drink $drink}}
#ALIAS {ef}     {eat $food}
#ALIAS {dw}     {drink $drink}
#ALIAS {ead}    {eat $food;drink $drink}
#ALIAS {fa}     {drink %1;drink %1;fill all %1}
#ALIAS {ff}     {drink fountain;drink fountain;fill all fountain}

#000000000000000
#0 Fill-Follow 0
#000000000000000
@varInit{fillFollow}

#ACTION {fills a %1 from} {#IF { @checks{fillFollow;0} } {ff; @doStuff{fillFollow;1;8;4}} {#nop}}
#ACTION {You fill a %1 from} {@doStuff{fillFollow;1;8;4}}

#000000000000000000000000000000 
#0
#0 Footwork, Bandage & Position 
#0 
#000000000000000000000000000000

@varInit{bandage}
#ACTION {^%1 begins resting but}                 { targetType bandage %1; @autoCheck{bandage;0;1;4;0} }
#ACTION {^%1 sits down and rests}                { targetType bangage %1; @autoCheck{bandage;0;1;4;0} } {9}
#ACTION {^You throw away your bloody bandages.}  { #IF { @posCheck{resting;1} && $character[hp] != $character[hp_max]} {bandage me} }
#ACTION {^You wince as you}                      { targetType bandage me; @autoCheck{bandage;0;1;4;0} }
#ACTION {^Your wounds are already bandaged.}     {ready bandage 0}
#ACTION {^You throw away your bloody bandages.}  {ready bandage 1}

#FUNCTION {position} {#VARIABLE {character[position][%1]} {%2};#RETURN {#NOP}}
#FUNCTION {posCheck} {#IF { $character[position][%1] == %2 } {#RETURN 1} {#RETURN 0}}

#ACTION {^You are sitting.}                        {@position{sitting;1}; @position{resting;0}; @position{standing;0}}
#ACTION {^You sit down.}                           {@position{sitting;1}; @position{resting;0}; @position{standing;0}}
#ACTION {^You are resting.}                        {@position{sitting;1}; @position{resting;1}; @position{standing;0}}
#ACTION {^You rest your tired bones.}              {@position{sitting;1}; @position{resting;1}; @position{standing;0}}
#ACTION {^You sit down and rest your tired bones.} {@position{sitting;1}; @position{resting;1}; @position{standing;0}; targetType bandage me; @autoCheck{bandage;0;1;4;0}} {3}
#ACTION {^You are standing.}                       {@position{sitting;0}; @position{resting;0}; @position{standing;1}}
#ACTION {^You stand up.}                           {@position{sitting;0}; @position{resting;0}; @position{standing;1}}

#ACTION {^You are following}                       {@position{following;1}}
#ACTION {^You now follow %1.}                      {@position{following;1}}
#ACTION {^You stop following %1}                   {@position{following;0}; @position{grouped;0}}
#ACTION {^You are no longer a member of %1 group.} {@position{grouped;0}}
#ACTION {^You are now a member of %1 group.}       {@position{grouped;1}}
#ACTION {^You are still a group member.}           {@position{grouped;1}}
#ACTION {^Your group of %1 members}                {#IF { %1 >= 2} {@position{grouped;1}} {@position{grouped;0}}}

#ACTION {^You rise up off the ground.}             {@position{flying;1}}
#ACTION {^You are flying.}                         {@position{flying;1}}
#ACTION {^You feel much heavier.}                  {@position{flying;0}}

#ACTION {^You should probably stand up}            {#IF {$character[position][fighting] == 1}{stand}}
#ACTION {^You are sent sprawling}                  {#IF {$character[position][fighting] == 1}{stand}}

#ALIAS {set.prime}                                {#VARIABLE character[weapon][prime] %1}
#ALIAS {set.offie}                                {#VARIABLE character[weapon][offie] %1}
#ACTION {disarms your weapon}  {
  get $character[weapon][prime];
  wield $character[weapon][prime];
  get $character[weapon][offie]; 
  wield $character[weapon][offie] left
}

#00000000000
#0 Looting 0
#00000000000
#ALIAS {ga}     {get all}
#ALIAS {gc}     {get coins}
#ALIAS {gp}     {get pile}
#ALIAS {gac}    {get all corpse}
#ALIAS {gcc}    {get all.coins corpse}
#ALIAS {gpc}    {get pile corpse}
#ALIAS {lp}     {#LOOP 1 %1 cnt {get all $cnt.corpse}}
#ALIAS {lpc}    {#LOOP 1 %1 cnt {get all.coins $cnt.corpse}}

#0000000000000000000000000
#0 tick timer on inputline
#0000000000000000000000000
#VARIABLE {character[tick]} {99}
#SPLIT 0 1 0 0 2
#ALIAS {ir} {#SCREEN {inputregion} -2 5 -1 -1 }
#SCREEN {inputregion}  -2 5 -1 -1 
#TICKER {tshow} { #DRAW yellow jeweled ralign box -3 1 -1 4 $character[tick];#nop;#nop } {1}

#00000000000000000
#0 Mapping Tools
#00000000000000000
#ALIAS {mt} {
        #READ {$workingdirectory/map/map_color.tt};
        #READ {$workingdirectory/map/map_nav.tt};
        #READ {$workingdirectory/map/map_roomripper.tt};
        #READ {$workingdirectory/map/map_sets.tt};
        #READ {$workingdirectory/map/map_updownlink.tt}
}
