#00000000
#0 mend 0
#00000000
auto mend 1
ready mend 0
cooldown mend 0
cooldown main 0

target mend bread

#ALIAS {autoMendCheck} { #IF {"@checks{mend;0}"} {mend $character[target][mend]; doStuff mend 0 4 4} }

#ACTION {You are ready to mend} { ready mend 1 }

