#FUNCTION {position} {#VARIABLE {character[position][%1]} {%2};#RETURN {#NOP}}
#FUNCTION {posCheck} {#IF { $character[position][%1] == %2 } {#RETURN 1} {#RETURN 0}}

#ACTION {Your wounds are already bandaged.}     {ready bandage 0}
#ACTION {You throw away your bloody bandages.}  {ready bandage 1}

#ACTION {You are sitting.}                        {@position{sitting;1}; @position{resting;0}; @position{standing;0}} 
#ACTION {You sit down.}                           {@position{sitting;1}; @position{resting;0}; @position{standing;0}} 
#ACTION {You are resting.}                        {@position{sitting;1}; @position{resting;1}; @position{standing;0}} 
#ACTION {You rest your tired bones.}              {@position{sitting;1}; @position{resting;1}; @position{standing;0}} 
#ACTION {You sit down and rest your tired bones.} {@position{sitting;1}; @position{resting;1}; @position{standing;0}} 
#ACTION {You are standing.}                       {@position{sitting;0}; @position{resting;0}; @position{standing;1}} 
#ACTION {You stand up.}                           {@position{sitting;0}; @position{resting;0}; @position{standing;1}} 

#ACTION {You are following}                       {@position{following;1}}
#ACTION {You now follow %1.}                      {@position{following;1}}
#ACTION {You stop following %1}                   {@position{following;0}; @position{grouped;0}}
#ACTION {You are no longer a member of %1 group.} {@position{grouped;0}}
#ACTION {You are now a member of %1 group.}       {@position{grouped;1}}
#ACTION {You are still a group member.}           {@position{grouped;1}}
#ACTION {Your group of %1 members}                {#IF { %1 >= 2} {@position{grouped;1}} {@position{grouped;0}}}

#ACTION {You rise up off the ground.}             {@position{flying;1}}
#ACTION {You are flying.}                         {@position{flying;1}}
#ACTION {You feel much heavier.}                  {@position{flying;0}}

