#0000000000
#0 Rescue 0
#0000000000
auto tank 1
ready tank 1
cooldown tank 1

auto rescue 1
ready rescue 1
cooldown rescue 0
cooldown main 0
target rescue name

#ALIAS {protect.squishy}  {#ACTION {{smites|claws|stabs|cleaves|pierces|slashes|misses|hits|bruises|barely|massacres|annihilates|obliterates} %1}} { rescueTargetr %1;#SHOWME <fac>added %1 }

#ALIAS {autoRescueCheck} { #IF { "@checks{rescue;1}" && $character[needsTo][rescue] == 1 } { rescueStuff $character[target][rescue] }{#NOP} }
#ALIAS {autoTankCheck}   { #IF { "@checks{tank;1}" && "$character[name]" != "$character[isTanking]" } { rescueStuff $character[isTanking] }{#NOP} }
#ALIAS {rescueStuff} { rescu %1; doStuff rescue 0 3 3  }
#ALIAS {rescueTarget} { target rescue %1; #VARIABlE {character[needsTo][rescue]} {1} }

#ACTION {Your feeble rescue efforts}  { ready rescue 1 ; autoRescueCheck }
#ACTION {But nobody is fighting {him|her}} {  ready rescue 1; #VARIABLE {character[needsTo][rescue]} {0} }
#ACTION {What a self-sacrificing act! You're such a hero!}  { ready rescue 1 }
#ACTION {is dead! R.I.P.}{ ready rescue 1 }

