#0000000000
#0 Rescue 0
#0000000000
@varInit{tank}
@varInit{rescue}

targetType rescue name

#ALIAS {protect.squishy}  {#ACTION {{smites|claws|stabs|cleaves|pierces|slashes|misses|hits|bruises|barely|massacres|annihilates|obliterates} %1} {@rescueTarget{%1}};#SHOWME <fac>added %1}

#FUNCTION {autoRescueCheck} {
  #IF { @hpCheck{>;33} && @SMCheck{rescue;1} && $character[needsTo][rescue] == 1 } { @rescueStuff{$character[target][rescue]} };
  #RETURN {#NOP} 
}

#FUNCTION {autoTankCheck}   {
  #IF { @hpCheck{>;33} && @SMCheck{rescue;1} && @ARCheck{tank;1} && "$character[name]" != "$character[isTanking]" } { @rescueStuff{$character[isTanking]} };
  #RETURN {#NOP}
}

#FUNCTION {rescueStuff} {
  rescu %1; 
  @doStuff{rescue;0;3;3};  
  #RETURN {#NOP}
}

#FUNCTION {rescueTarget} {
  targetType rescue %1; 
  #VARIABlE {character[needsTo][rescue]} {1};
  @autoRescueCheck{};
  #RETURN {#NOP}
}

#ACTION {Your feeble rescue efforts}  { ready rescue 1 ; @autoRescueCheck{} }
#ACTION {But nobody is fighting {him|her}} {  ready rescue 1; #VARIABLE {character[needsTo][rescue]} {0} }
#ACTION {What a self-sacrificing act! You're such a hero!}  { ready rescue 1 }
#ACTION {is dead! R.I.P.}{ ready rescue 1 }

