#00000000000
#0 sharpen 0
#00000000000
auto sharpen 1
ready sharpen 0
cooldown sharpen 0
cooldown main 0

target sharpen sword

#ALIAS {autoSharpenCheck} { #IF {@checks{sharpen;0}} {sharpen $character[target][sharpen]; doStuff sharpen 0 4 4 } }

need fail for sharpen
#ACTION {You are ready to sharpen}        { ready sharpen 1 }
#ACTION {already has a good edge to it.}  { doStuff sharpen 1 180 0}

