#000000000
#0 skill 0
#000000000
auto skill 1
ready skill 0
cooldown skill 0
cooldown main 0

targetType skill bread

#ALIAS {autoSkillCheck} { #IF {"@checks{skill;0}"} {skill $character[target][skill]; doStuff skill 0 4 4} }

#ACTION {You are ready to skill} { ready skill 1 }

#SCREEN {inputregion} -2 5 -1 -1
#ALIAS {ir} {#SCREEN {inputregion} -2 5 -1 -1 }
#VARIABLE {character[tick]} {5}
#TICKER {tshow} {
  #DRAW yellow jeweled ralign box -3 1 -1 4 {$character[tick]};
  #MATH {character[tick]} {$character[tick] - 1};
  #IF {$character[tick] == 0}{
    #VARIABLE {character[tick]} {60}
  }
} {1}
