#NOP Map Navigation stuff

#ALIAS {mapfollow} 
    {
        #ACTION {You follow %1 north} {#MAP move n};
        #ACTION {You follow %1 south} {#MAP move s};
        #ACTION {You follow %1 east}  {#MAP move e};
        #ACTION {You follow %1 west}  {#MAP move w};
        #ACTION {You follow %1 up}    {#MAP move u};
        #ACTION {You follow %1 down}  {#MAP move d}
    }
#ALIAS {mapunfollow} 
    {
        #UNACTION {You follow %1 north} {};
        #UNACTION {You follow %1 south} {};
        #UNACTION {You follow %1 east}  {};
        #UNACTION {You follow %1 west}  {};
        #UNACTION {You follow %1 up}    {};
        #UNACTION {You follow %1 down}  {}
    }

#VARIABLE {mapstatic} {0}

#ALIAS {msoff} {#MAP flag static off;#SHOWME #MAP flag static off;#VARIABLE {mapstatic}{0}}
#ALIAS {mson}  {#MAP flag static on ;#SHOWME #MAP flag static on ;#VARIABLE {mapstatic}{1}}

#ACTION {Alas, you cannot go that way...} { #IF { $mapstatic == 0 } {#MAP undo} }
#ACTION {The door seems to be closed.}    { #IF { $mapstatic == 0 } {#MAP undo} }
#ACTION {The gates seems to be closed.}   { #IF { $mapstatic == 0 } {#MAP undo} }
#ACTION {The cell seems to be closed.}    { #IF { $mapstatic == 0 } {#MAP undo} }

