#NOP Room Name Trigger;

#VARIABLE {actroomarea} {Not Set}
#ACTION {It is pitch black.}{#VARIABLE {actroomname}{It is pitch black.}}

#ALIAS {mapsync_check}
    {
        #MAP get roomname temp1;
        #MAP get roomarea temp2;
        #MAP get roomdesc temp3;
        #IF { "$actroomname" != "$temp1" || 
              "$actroomdesc" != "$temp3"  
            } 
            {
                #SHOWME <ead> Alert!!! Map data not matching;
                #IF { "$temp1" == "" } {mapsync_commit;#SHOWME <ead> mapsync_committed don't forget to save}
            };
            #ELSE { #NOP #SHOWME <afa> Map data matches}
    };

#ALIAS {mapsync_commit}
    {
        #MAP SET roomname $actroomname;
        #IF { "$actroomarea" != "Not Set" } {#MAP SET roomarea $actroomarea};
        #MAP SET roomdesc $actroomdesc
    }

#ALIAS {mapsync_variable}
    {
        #VARIABLE actroomarea;
        #VARIABLE actroomname;
        #VARIABLE actroomdesc
    }

#NOP Room name trigger ;
#ACTION {~\e[36m%1\e[0;37m}
{
    #VARIABLE {actroomname} %1;
    #VARIABLE {actroomdesc} {};
    #VARIABLE {descripper} {1};	
    #ACTION {%%0}
	{
		#IF {"$actroomdesc" == ""}
		{
			#VARIABLE {actroomdesc} {%%0}
		};
		#ELSE
		{
			#VARIABLE {actroomdesc} {$actroomdesc %%0}
		}
	}{3};
}{5}

#ACTION {~\e[33m}
    {
   	    #IF {$descripper == 1} {#UNACTION {%%0}};
        #VARIABLE {descripper} {0};
        #IF {"$actroomname" != "It is pitch black."} {mapsync_check}
    }{2};
	
